/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

bootstrap/cache/services.php
bootstrap/cache/packages.php
bootstrap/cache/front_module.php
bootstrap/cache/core_module.php
.idea
react/experiments/build
react/signup/build