<!DOCTYPE html>
<html lang="ru">

<head>
	<title> Confirmation</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.min.css?_v=20220211141804">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header header_white2">
			<div class="header__container">
				<div class="header__body"> <a href="#" class="header__logo"><img src="img/logo-dark.svg?_v=1644581884261" alt="Logo"></a></div>

				<div class="header__sing-in-link">
					Already a member? <a href="">Sign up</a>
				</div>
			</div>
		</header>
		<main class="page ">
			<div class="confirmation">
				<div class="confirmation__container">
					<div class="confirmation__body">
						<h1 class="confirmation__title">
							You’re almost done!
						</h1>
						<div class="confirmation__head">
							<div class="confirmation__subtitle">
								We have sent an email with a confirmation link to:
							</div>
							<div class="confirmation__email">
								johnsmith@email.com
							</div>

						</div>
						<div class="confirmation__bottom">
							<div class="confirmation__title2">
								Didn’t get your email?
							</div>
							<p>You may need to check your spam folder for an email from abrouter@prixedmail.com</p>
						</div>
						<div class="confirmation__links">
							<a href=""> Resend sign-up email</a> or <a href="">Change the email provided</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css?_v=20220211141804" />
	<script src="js/app.min.js?_v=20220211141804"></script>
</body>

</html>