<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.min.css?_v=20220211141804">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header undefined">
			<div class="header__container">
				<div class="header__body">
					<a href="#" class="header__logo"><picture><source srcset="img/png/logo.webp" type="image/webp"><img src="img/png/logo.png?_v=1644581884261" alt="Logo"></picture></a>
					<button type="button" class="menu__icon icon-menu"><span></span></button>
					<div class="header__menu menu">

						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item"><a href="" class="menu__link active">Product overview</a></li>
								<li class="menu__item"><a href="" class="menu__link">Why us</a></li>
								<li class="menu__item"><a href="" class="menu__link">Pricing</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div data-da=".menu,768,2" class="header__buttons">
					<a href="" class="header__signin">Sign in</a>
					<a href="" class="button header__signup">Sign up</a>
				</div>
			</div>
		</header>
		<main class="page page_home">

			<section class="page__main-block main-block">
				<div class="main-block__container">
					<div class="main-block__body">
						<h1 class="main-block__title">
							Making A/B tests is challenging. We make it easy
						</h1>
						<div class="main-block__text">
							<p> - Multiple clicks to create an experiment, single request to run</p>
							<p> - Ideal solution for startups and mid-size business</p>
						</div>
						<a href="" class="button main-block__button">Get Started</a>
						<div class="main-block__bottom">
							<div class="main-block__label">You are in good company:</div>
							<div class="main-block__partners">
								<a href="" class="main-block__link">
									<picture><source srcset="img/png/partner01.webp" type="image/webp"><img src="img/png/partner01.png?_v=1644581884261" alt=""></picture>
								</a>
								<a href="" class="main-block__link">
									<picture><source srcset="img/png/partner02.webp" type="image/webp"><img src="img/png/partner02.png?_v=1644581884261" alt=""></picture>
								</a>
							</div>
						</div>
					</div>
					<div class="main-block__right">
						<div class="main-block__image">
							<picture><source srcset="img/png/banner.webp" type="image/webp"><img src="img/png/banner.png?_v=1644581884261" alt=""></picture>
						</div>
					</div>
				</div>
			</section>
			<section class="meet page_meet">
				<div class="meet__container">
					<div data-tabs class="meet__tabs tabs-meet">
						<div data-tabs-body class="tabs-meet__content">
							<div class="tabs-meet__body">
								<div class="tabs-meet__wrap">
									<div class="tabs-meet__info">
										<div class="tabs-meet__head head">
											<div class="head__top">
												Meet the product
											</div>
											<h2 class="head__title">
												The single place for all your product experiments
											</h2>
										</div>
										<div class="tabs-meet__items">
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet01.svg?_v=1644581884261" alt="">
												</div>
												<p>Run experiment by passing your internal user id.</p>
											</div>
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet02.svg?_v=1644581884261" alt="">
												</div>
												<p>ABRouter will define a branch based on branches percentage.</p>
											</div>
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet03.svg?_v=1644581884261" alt="">
												</div>
												<p>The system will remember the branch for further requests.</p>
											</div>
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet04.svg?_v=1644581884261" alt="">
												</div>
												<p>Curl and postman collection included</p>
											</div>
											<div class="tabs-meet__item tabs-meet__item_big">
												<div class="tabs-meet__img">
													<img src="img/svg/meet05.svg?_v=1644581884261" alt="">
												</div>
												<p>We will show you insights for every experiment based on data that you allow us to
													use.
												</p>
											</div>
										</div>
									</div>
									<div class="tabs-meet__right">
										<div class="tabs-meet__img">
											<picture><source srcset="img/jpg/meet.webp" type="image/webp"><img src="img/jpg/meet.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>

							</div>
							<div class="tabs-meet__body">
								<div class="tabs-meet__wrap">
									<div class="tabs-meet__info">
										<div class="tabs-meet__head head">
											<div class="head__top">
												Meet the product
											</div>
											<h2 class="head__title">
												The single place for all your product experiments
											</h2>
										</div>
										<div class="tabs-meet__items">
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet01.svg?_v=1644581884261" alt="">
												</div>
												<p>Run experiment by passing your internal user id.</p>
											</div>
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet02.svg?_v=1644581884261" alt="">
												</div>
												<p>ABRouter will define a branch based on branches percentage.</p>
											</div>
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet03.svg?_v=1644581884261" alt="">
												</div>
												<p>The system will remember the branch for further requests.</p>
											</div>
											<div class="tabs-meet__item">
												<div class="tabs-meet__img">
													<img src="img/svg/meet04.svg?_v=1644581884261" alt="">
												</div>
												<p>Curl and postman collection included</p>
											</div>
											<div class="tabs-meet__item tabs-meet__item_big">
												<div class="tabs-meet__img">
													<img src="img/svg/meet05.svg?_v=1644581884261" alt="">
												</div>
												<p>We will show you insights for every experiment based on data that you allow us to
													use.
												</p>
											</div>
										</div>
									</div>
									<div class="tabs-meet__right">
										<div class="tabs-meet__img">
											<picture><source srcset="img/jpg/meet.webp" type="image/webp"><img src="img/jpg/meet.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tabs-meet__bottom">
							<a href="" class="tabs meet__button">
								<span>Explore ABRouter</span>
								<svg class="tabs-meet__icon">
									<use href="img/icons/icons.svg#arrow-button"></use>
								</svg>
							</a>
							<nav data-tabs-titles class="tabs-meet__navigation">
								<button type="submit" class="tabs-meet__title _tab-active">Management interface</button>
								<button type="submit" class="tabs-meet__title">API Interface</button>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<section class="page_benefit benefit">
				<div class="benefit__container">
					<div class="benefit__head head">
						<div class="head__top">
							Features
						</div>
						<h2 class="head__title">
							Benefits from using ABRouter
						</h2>
					</div>
					<div class="benefit__subtitle">
						Сustomize your project using the ABRouter
					</div>
					<div class="benefit__items">
						<div class="benefit__item item-benefit">
							<div class="item-benefit__img">
								<img src="img/svg/benefit01.svg?_v=1644581884261" alt="">
							</div>
							<div class="item-benefit__title">Automation</div>
							<div class="item-benefit__text">
								No one line code needs to create new experiments except request to run experiment.
							</div>
						</div>
						<div class="benefit__item item-benefit">
							<div class="item-benefit__img">
								<img src="img/svg/benefit02.svg?_v=1644581884261" alt="">
							</div>
							<div class="item-benefit__title">One place</div>
							<div class="item-benefit__text">
								Manage all your experiments <br> anytime on any device.


							</div>
						</div>
						<div class="benefit__item item-benefit">
							<div class="item-benefit__img">
								<img src="img/svg/benefit03.svg?_v=1644581884261" alt="">
							</div>
							<div class="item-benefit__title">Reporting</div>
							<div class="item-benefit__text">
								The system will create reports for every branch of your experiment to help you make the right
								decision.


							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="what page_what">
				<div class="what__container">
					<div data-tabs class="what__tabs tabs-what">
						<div data-tabs-body class="tabs-what__content">
							<div class="tabs-what__body">
								<div class="tabs-what__wrap">
									<div class="tabs-what__left">
										<div class="tabs-what__head head">
											<div class="head__top">
												Features
											</div>
											<h2 class="head__title">
												What is ABRouter?
											</h2>
										</div>
										<div class="tabs-what__text">
											ABRouter provides the system to run ab-tests/experiments on the back-end side of your application.
										</div>
										<a href="" class="tabs-what__button">
											<span>Explore ABRouter</span>
											<svg class="tabs-what__icon">
												<use href="img/icons/icons.svg#arrow-button"></use>
											</svg>
										</a>
									</div>
									<div class="tabs-what__right">
										<div class="tabs-what__img">
											<picture><source srcset="img/jpg/what01.webp" type="image/webp"><img src="img/jpg/what01.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs-what__body">
								<div class="tabs-what__wrap">
									<div class="tabs-what__left">
										<div class="tabs-what__head head">
											<div class="head__top">
												Features
											</div>
											<h2 class="head__title">
												What is ABRouter?
											</h2>
										</div>
										<div class="tabs-what__text">
											ABRouter provides the system to run ab-tests/experiments on the back-end side of your application.
										</div>
										<a href="" class="tabs-what__button">
											<span>Explore ABRouter</span>
											<svg class="tabs-what__icon">
												<use href="img/icons/icons.svg#arrow-button"></use>
											</svg>
										</a>
									</div>
									<div class="tabs-what__right">
										<div class="tabs-what__img">
											<picture><source srcset="img/jpg/what01.webp" type="image/webp"><img src="img/jpg/what01.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs-what__body">
								<div class="tabs-what__wrap">
									<div class="tabs-what__left">
										<div class="tabs-what__head head">
											<div class="head__top">
												Features
											</div>
											<h2 class="head__title">
												What is ABRouter?
											</h2>
										</div>
										<div class="tabs-what__text">
											ABRouter provides the system to run ab-tests/experiments on the back-end side of your application.
										</div>
										<a href="" class="tabs-what__button">
											<span>Explore ABRouter</span>
											<svg class="tabs-what__icon">
												<use href="img/icons/icons.svg#arrow-button"></use>
											</svg>
										</a>
									</div>
									<div class="tabs-what__right">
										<div class="tabs-what__img">
											<picture><source srcset="img/jpg/what01.webp" type="image/webp"><img src="img/jpg/what01.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs-what__body">
								<div class="tabs-what__wrap">
									<div class="tabs-what__left">
										<div class="tabs-what__head head">
											<div class="head__top">
												Features
											</div>
											<h2 class="head__title">
												What is ABRouter?
											</h2>
										</div>
										<div class="tabs-what__text">
											ABRouter provides the system to run ab-tests/experiments on the back-end side of your application.
										</div>
										<a href="" class="tabs-what__button">
											<span>Explore ABRouter</span>
											<svg class="tabs-what__icon">
												<use href="img/icons/icons.svg#arrow-button"></use>
											</svg>
										</a>
									</div>
									<div class="tabs-what__right">
										<div class="tabs-what__img">
											<picture><source srcset="img/jpg/what01.webp" type="image/webp"><img src="img/jpg/what01.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs-what__body">
								<div class="tabs-what__wrap">
									<div class="tabs-what__left">
										<div class="tabs-what__head head">
											<div class="head__top">
												Features
											</div>
											<h2 class="head__title">
												What is ABRouter?
											</h2>
										</div>
										<div class="tabs-what__text">
											ABRouter provides the system to run ab-tests/experiments on the back-end side of your application.
										</div>
										<a href="" class="tabs-what__button">
											<span>Explore ABRouter</span>
											<svg class="tabs-what__icon">
												<use href="img/icons/icons.svg#arrow-button"></use>
											</svg>
										</a>
									</div>
									<div class="tabs-what__right">
										<div class="tabs-what__img">
											<picture><source srcset="img/jpg/what01.webp" type="image/webp"><img src="img/jpg/what01.jpg?_v=1644581884261" alt=""></picture>
										</div>
									</div>
								</div>
							</div>
						</div>
						<nav data-tabs-titles class="tabs-what__navigation">
							<button type="submit" class="tabs-what__title _tab-active">What is ABRouter?</button>
							<button type="submit" class="tabs-what__title">Experiments</button>
							<button type="submit" class="tabs-what__title">Branch</button>
							<button type="submit" class="tabs-what__title">Easy to manage</button>
							<button type="submit" class="tabs-what__title">Best price</button>
						</nav>
					</div>
				</div>
			</section>
			<section class="price page_price">
				<div class="price__container">
					<div class="price__head head">
						<div class="head__top">
							Pricing
						</div>
						<h2 class="head__title">
							Plans scale with your growth
						</h2>
					</div>
					<div class="price__items">
						<div class="price__item item-price">
							<div class="item-price__top">
								<div class="item-price__title">
									Free
								</div>
								<div class="item-price__cost">
									$0/month
								</div>
								<div class="item-price__block">
									<div class="item-price__question">
										What you can do?
									</div>
									<ul class="item-price__list">
										<li>
											Some feature text
										</li>
										<li>Some feature text</li>
									</ul>
								</div>
							</div>
							<div class="item-price__bottom"> <a href="" class="item-price__btn button button_grey">Start free
									trial</a>
							</div>
						</div>
						<div class="price__item item-price">
							<div class="item-price__top">
								<div class="item-price__title">
									Team
								</div>
								<div class="item-price__cost">
									$8/month
								</div>
								<div class="item-price__block">
									<div class="item-price__question">
										What you can do?
									</div>
									<ul class="item-price__list">
										<li>
											Some feature text
										</li>
										<li>Some feature text</li>
										<li>Some feature text</li>
										<li>Some feature text</li>
									</ul>
								</div>
							</div>
							<div class="item-price__bottom"> <a href="" class="item-price__btn button button_grey">Start free
									trial</a>
							</div>
						</div>
						<div class="price__item item-price">
							<div class="item-price__top">
								<div class="item-price__title">
									Premium
								</div>
								<div class="item-price__cost">
									$20/month
								</div>
								<div class="item-price__block">
									<div class="item-price__question">
										What you can do?
									</div>
									<ul class="item-price__list">
										<li>
											Some feature text
										</li>
										<li>Some feature text</li>
										<li>Some feature text</li>
									</ul>
								</div>
							</div>
							<div class="item-price__bottom"> <a href="" class="item-price__btn button button_grey">Start free
									trial</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="start page_start">
				<div class="start__container">
					<div class="start__head head">
						<h2 class="head__title">
							Getting started is easy
						</h2>
					</div>
					<div class="start__subtitle">
						Start using ABRouter for free and see how it can improve your application.
					</div>
					<a href="" class="start__button button">Start free trial</a>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__top top-footer">
					<a href="#" class="top-footer__logo">
						<picture><source srcset="img/png/footer-logo.webp" type="image/webp"><img src="img/png/footer-logo.png?_v=1644581884261" alt="logo"></picture>
					</a>
					<div class="top-footer__menu">
						<div class="top-footer__column">
							<div class="top-footer__title">
								Product
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Product overview</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Why us</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Pricing</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Docs</a>
								</li>
							</ul>
						</div>
						<div class="top-footer__column">
							<div class="top-footer__title">
								A/B tests
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Implement A/B tests Laravel</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Implement A/B tests PHP</a>
								</li>
							</ul>
						</div>
						<div class="top-footer__column">
							<div class="top-footer__title">
								Support
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="mailto:abrouter@prixedmail.com" class="top-footer__link">abrouter@prixedmail.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__bottom bottom-footer">
					<div class="bottom-footer__copy">
						© ABROUTER 2021. All rights reserved.
					</div>
					<ul class="bottom-footer__list">
						<li class="bottom-footer__item">
							<a href="" class="bottom-footer__link">Privacy Policy</a>
						</li>
						<li class="bottom-footer__item">
							<a href="" class="bottom-footer__link">Terms & Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css?_v=20220211141804" />
	<script src="js/app.min.js?_v=20220211141804"></script>
</body>

</html>