<!DOCTYPE html>
<html lang="ru">

<head>
	<title> Experiments first</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.min.css?_v=20220211141804">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header header-profile">
			<div class="header-profile__container-big">
				<a href="" class="header-profile__logo">
					<picture><source srcset="img/png/logo-black.webp" type="image/webp"><img src="img/png/logo-black.png?_v=1644581884261" alt="Logo"></picture>
				</a>
				<button type="button" class="menu__icon icon-menu"><span></span></button>
				<div class="header-profile__menu">
					<div class="header-profile__token token-header">
						<div class="token-header__body">
							<span>Your Token ID </span>
						</div>
						<div class="token-header__bottom">
							<div class="token-header__value">...0355bd4b95a463</div>
							<svg class="token-header__icon">
								<use href="img/icons/icons.svg#copy"></use>
							</svg>
						</div>
					</div>
					<div class="header-profile__actions">
						<div class="header-profile__search search-header">
							<a href="" class="search-header__button">
								<svg class="search-header__icon">
									<use href="img/icons/icons.svg#search"></use>
								</svg>
							</a>
						</div>
						<div class="header-profile__message message-header message-header_active">
							<a href="" class="message-header__button">
								<svg class="message-header__icon">
									<use href="img/icons/icons.svg#message"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="header-profile profile">
						<button class="profile__image-ibg">
							<picture><source srcset="img/jpg/avatar.webp" type="image/webp"><img src="img/jpg/avatar.jpg?_v=1644581884261" alt="Avatar"></picture>
						</button>
						<div class="profile__body">
							<button class="profile__name">Alex Yatsenko</button>
							<svg class="profile__icon">
								<use href="img/icons/icons.svg#arrow-menu"></use>
							</svg>
						</div>
						<div class="profile__menu menu-profile">
							<div class="menu-profile__item">
								<a href="" class="menu-profile__link">Edit profile</a>
							</div>
							<div class="menu-profile__item">
								<a href="" class="menu-profile__link">Help</a>
								<a href="" class="menu-profile__link">Settings</a>
							</div>
							<div class="menu-profile__item">
								<a href="" class="menu-profile__link">Sign out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main class="page page_setting">
			<div class="setting">
				<div class="setting__container">
					<div class="setting__body">
						<div class="setting__left">
							<div class="setting__menu menu-setting">
								<ul class="menu-setting__items">
									<li class="menu-setting__item">
										<a href="" class="menu-setting__link active">
											<svg class="menu-setting__icon">
												<use href="img/icons/icons.svg#menu01"></use>
											</svg>
											<span>Experiments</span>
										</a>
									</li>
									<li class="menu-setting__item">
										<a href="" class="menu-setting__link">
											<svg class="menu-setting__icon">
												<use href="img/icons/icons.svg#menu02"></use>
											</svg>
											<span>Statistics</span>
										</a>
									</li>
									<li class="menu-setting__item">
										<a href="" class="menu-setting__link">
											<svg class="menu-setting__icon">
												<use href="img/icons/icons.svg#menu03"></use>
											</svg>
											<span>Feature flags</span>
										</a>
									</li>
									<li class="menu-setting__item">
										<a href="" class="menu-setting__link">
											<svg class="menu-setting__icon">
												<use href="img/icons/icons.svg#menu04"></use>
											</svg>
											<span>Help</span>
										</a>
									</li>
									<li class="menu-setting__item">
										<a href="" class="menu-setting__link">
											<svg class="menu-setting__icon">
												<use href="img/icons/icons.svg#menu05"></use>
											</svg>
											<span>Docs</span>
										</a>
									</li>
								</ul>

							</div>
						</div>
						<div class="setting__right">
							<div class="setting__content">
								<h1 class="setting__title">
									Experiments
								</h1>
								<div class="setting__top top-setting">
									<div class="top-setting__info">
										You don't have active experiments, yet.
									</div>
									<button class="top-setting__btn">
										<svg class="top-setting__icon">
											<use href="img/icons/icons.svg#plus"></use>
										</svg>
										<svg class="top-setting__icon top-setting__icon2">
											<use href="img/icons/icons.svg#plus2"></use>
										</svg>
										<span>Create new experiment </span>
									</button>
								</div>
								<div class="setting__image">
									<picture><source srcset="img/png/setting.webp" type="image/webp"><img src="img/png/setting.png?_v=1644581884261" alt="Image"></picture>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer footer_dark">
			<div class="footer__container">
				<div class="footer__top top-footer">
					<a href="#" class="top-footer__logo">
						<picture><source srcset="img/png/logo.webp" type="image/webp"><img src="img/png/logo.png?_v=1644581884261" alt="logo"></picture>
					</a>
					<div class="top-footer__menu">
						<div class="top-footer__column">
							<div class="top-footer__title">
								Product
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Product overview</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Why us</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Pricing</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Docs</a>
								</li>
							</ul>
						</div>
						<div class="top-footer__column">
							<div class="top-footer__title">
								A/B tests
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Implement A/B tests Laravel</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Implement A/B tests PHP</a>
								</li>
							</ul>
						</div>
						<div class="top-footer__column">
							<div class="top-footer__title">
								Support
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="mailto:abrouter@prixedmail.com" class="top-footer__link">abrouter@prixedmail.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__bottom bottom-footer">
					<div class="bottom-footer__copy">
						© ABROUTER 2021. All rights reserved.
					</div>
					<ul class="bottom-footer__list">
						<li class="bottom-footer__item">
							<a href="" class="bottom-footer__link">Privacy Policy</a>
						</li>
						<li class="bottom-footer__item">
							<a href="" class="bottom-footer__link">Terms & Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>


	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css?_v=20220211141804" />
	<script src="js/app.min.js?_v=20220211141804"></script>
</body>

</html>