<!DOCTYPE html>
<html lang="ru">

<head>
	<title> Sign in</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.min.css?_v=20220211141804">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header header_white2">
			<div class="header__container">
				<div class="header__body"> <a href="#" class="header__logo"><img src="img/logo-dark.svg?_v=1644581884261" alt="Logo"></a></div>

				<div class="header__sing-in-link">
					Already a member? <a href="">Sign up</a>
				</div>
			</div>
		</header>
		<main class="page ">
			<section class="sign">
				<div class="sign__container">
					<div class="sign__body">
						<h1 class="sign__title">
							Sign in to ABRouter
						</h1>
						<form action="#" class="sign__form">
							<div class="sign__items">
								<div class="sign__item item-form">
									<div class="item-form__icon">
										<img src="img/form/mail.svg?_v=1644581884261" alt="Icon">
									</div>
									<label class="item-form__label">Email</label>
									<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="hello@email.com" class="input item-form__input">
								</div>
								<div class="sign__item item-form">
									<div class="item-form__icon item-form__viewpass">

									</div>
									<label class="item-form__label">Password</label>
									<input autocomplete="off" type="password" name="form[]" data-error="Ошибка" placeholder="●●●●●●●●●●●" class="input item-form__input">
								</div>
								<div class="sign__row">
									<div class="checkbox sign__checkbox checkbox_sign">
										<input id="c_1" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
										<label for="c_1" class="checkbox__label"><span class="checkbox__text">Remember
												me</span></label>
									</div>
									<a href="" class="sign__forgot">Forgot password?</a>
								</div>
							</div>

							<button class="button sign__button">
								Sign in
							</button>
							<div class="sign__bottom">
								This site is protected by the Google <a href="">Privacy Policy</a> and <a href="">Terms of
									Service</a> apply.
							</div>
						</form>
					</div>

				</div>
			</section>
		</main>
	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css?_v=20220211141804" />
	<script src="js/app.min.js?_v=20220211141804"></script>
</body>

</html>