<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Test PHP</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.min.css?_v=20220211141804">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header header_white">
			<div class="header__container">
				<div class="header__body">
					<a href="#" class="header__logo"><img src="img/logo-dark.svg?_v=1644581884261" alt="Logo"></a>
					<button type="button" class="menu__icon icon-menu"><span></span></button>
					<div class="header__menu menu">

						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item"><a href="" class="menu__link active">Product overview</a></li>
								<li class="menu__item"><a href="" class="menu__link">Why us</a></li>
								<li class="menu__item"><a href="" class="menu__link">Pricing</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div data-da=".menu,768,2" class="header__buttons">
					<a href="" class="header__btn button button_border">
						<svg class="header__btn-icon">
							<use href="img/icons/icons.svg#user01"></use>
						</svg>
						My board
					</a>

				</div>
			</div>
		</header>
		<main class="page ">
			<section class="top">
				<div class="top__container">
					<div class="top__wrap">
						<div class="top__content">
							<h1 class="title top__title">
								How to launch A/B test on PHP in 5 minutes?
							</h1>
							<div class="top__text">
								<p>The ABRouter is a well-known tool to launch managed A/B tests on PHP with focus on startups
									and mid-size companies. Our service providing clear web interface to manage experiments and
									powerful API to run.</p>
							</div>
						</div>
						<div class="top__image">
							<img src="img/test/02.svg?_v=1644581884261" alt="Image">
						</div>
					</div>
				</div>
			</section>

			<section class="step">
				<div class="step__container">
					<h2 class="title step__title">
						Let's start with an example
					</h2>
					<div class="step__subtitle">
						For example, our task is testing the most convertible color of form button. <br> So, there is the
						steps to
						be done:
					</div>
					<div class="step__item item-step">
						<div class="item-step__title">
							Step 1: Sign-up by the <a href="">link</a>
						</div>
					</div>
					<div class="step__item item-step">
						<div class="item-step__title">
							Step 2: Create your experiment
						</div>
						<div class="item-step__image">
							<picture><source srcset="img/step/01.webp" type="image/webp"><img src="img/step/01.png?_v=1644581884261" alt="Image"></picture>
						</div>
					</div>
					<div class="step__item item-step">
						<div class="item-step__title">
							Step 3: Grab the data
						</div>
						<div class="item-step__subtitle">
							After creating the A/B test you can to get the important data to run it.
						</div>
						<div class="item-step__image">
							<picture><source srcset="img/step/02.webp" type="image/webp"><img src="img/step/02.png?_v=1644581884261" alt="Image"></picture>
						</div>
					</div>
					<div class="step__item item-step">
						<div class="item-step__title">
							Step 4: Install
						</div>
						<div class="item-step__content">
							<div class="item-step__row">
								<div class="item-step__column">
									<div class="item-step__info">
										Install the library to your codebase on PHP:
										<a href="https://github.com/abrouter/laravel-abtest" class="item-step__link">https://github.com/abrouter/laravel-abtest</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="step__item item-step">
						<div class="item-step__title">
							Step 5: Code
						</div>
						<div class="item-step__content">
							<div class="item-step__subtitle ">
								We are ready to code. There I'm using <a href="">PHP-DI</a> for DI, but you can use anything.
							</div>
							<div class="item-step__image">
								<picture><source srcset="img/step/08.webp" type="image/webp"><img src="img/step/08.png?_v=1644581884261" alt="Image"></picture>
							</div>
						</div>
					</div>
					<div class="step__item item-step">
						<div class="item-step__title">
							Step 6: There are our results
						</div>
						<div class="item-step__content">
							<div class="item-step__grid">
								<button class="item-step__button item-step__button_red">
									Hello
								</button>
								<button class="item-step__button item-step__button_green">
									Hello
								</button>
								<button class="item-step__button item-step__button_blue">
									Hello
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="easy">
				<div class="easy__container">
					<div class="easy__content">
						<h2 class="title easy__title">
							Getting started is easy
						</h2>
						<div class="easy__subtitle">
							Find key retention drivers with ABRouter
						</div>
						<a href="" class="button easy__button">Create your first A/B test</a>
					</div>
				</div>
			</section>
			<section class="summary">
				<div class="summary__container">
					<h2 class="title summary__title">
						Summary
					</h2>
					<div class="summary__block">
						<p>I show you how to implement an A/B test via ABRouter. Looks like it's quite simple. <br>
							Please, remember, that every change that you are making to the app should be through an A/B test.
							It's a key to build a successful product.</p>
						<p>If you have any questions, feel free to ask me at <a href="mailto:abrouter@proxiedmail.com">abrouter@proxiedmail.com</a></p>
					</div>
					<div class="summary__bottom">
						<a href="" class="summary__avatar-ibg">
							<picture><source srcset="img/easy/03.webp" type="image/webp"><img src="img/easy/03.jpg?_v=1644581884261" alt="Image"></picture>
						</a>
						<div class="summary__info">
							<a href="" class="summary__link">Alex Yatsenko</a>
							<span>Senior Developer at ABRouter</span>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer footer_dark">
			<div class="footer__container">
				<div class="footer__top top-footer">
					<a href="#" class="top-footer__logo">
						<picture><source srcset="img/png/logo.webp" type="image/webp"><img src="img/png/logo.png?_v=1644581884261" alt="logo"></picture>
					</a>
					<div class="top-footer__menu">
						<div class="top-footer__column">
							<div class="top-footer__title">
								Product
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Product overview</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Why us</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Pricing</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Docs</a>
								</li>
							</ul>
						</div>
						<div class="top-footer__column">
							<div class="top-footer__title">
								A/B tests
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Implement A/B tests Laravel</a>
								</li>
								<li class="top-footer__item">
									<a href="" class="top-footer__link">Implement A/B tests PHP</a>
								</li>
							</ul>
						</div>
						<div class="top-footer__column">
							<div class="top-footer__title">
								Support
							</div>
							<ul class="top-footer__list">
								<li class="top-footer__item">
									<a href="mailto:abrouter@prixedmail.com" class="top-footer__link">abrouter@prixedmail.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__bottom bottom-footer">
					<div class="bottom-footer__copy">
						© ABROUTER 2021. All rights reserved.
					</div>
					<ul class="bottom-footer__list">
						<li class="bottom-footer__item">
							<a href="" class="bottom-footer__link">Privacy Policy</a>
						</li>
						<li class="bottom-footer__item">
							<a href="" class="bottom-footer__link">Terms & Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>


	<!-- 
<div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
			</div>
		</div>
	</div>
</div>
 -->

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css?_v=20220211141804" />
	<script src="js/app.min.js?_v=20220211141804"></script>
</body>

</html>